.container {
    display: grid;
    grid-template-rows: 75px auto 40px;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

nav, main, footer {
    grid-column: 1 / -1; /* Span entire row */
    display: grid;
    text-align: center;
}

nav {
    background-color: #ff0000;
}

main {
    background-color: #0000ff;  
}

footer {
    background-color: #00ff00;
}
